/EventManagement.Application/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/EventManagement.Application/obj/Debug/net8.0/EventManagement.Application.AssemblyInfo.cs
/EventManagement.Application/obj/Debug/net8.0/EventManagement.Application.AssemblyInfoInputs.cache
/EventManagement.Application/obj/Debug/net8.0/EventManagement.Application.assets.cache
/EventManagement.Application/obj/Debug/net8.0/EventManagement.Application.csproj.AssemblyReference.cache
/EventManagement.Application/obj/Debug/net8.0/EventManagement.Application.GeneratedMSBuildEditorConfig.editorconfig
/EventManagement.Application/obj/Debug/net8.0/EventManagement.Application.GlobalUsings.g.cs
/EventManagement.Application/obj/EventManagement.Application.csproj.nuget.dgspec.json
/EventManagement.Application/obj/EventManagement.Application.csproj.nuget.g.props
/EventManagement.Application/obj/EventManagement.Application.csproj.nuget.g.targets
/EventManagement.Application/obj/project.assets.json
/EventManagement.Application/obj/project.nuget.cache
/EventManagement.Application/obj/project.packagespec.json
/EventManagement.Application/obj/rider.project.model.nuget.info
/EventManagement.Application/obj/rider.project.restore.info
/.idea/.idea.EventManagement/.idea/httpRequests/http-client.cookies
/.idea/.idea.EventManagement/.idea/httpRequests/http-requests-log.http
/.idea/.idea.EventManagement/.idea/encodings.xml
/.idea/.idea.EventManagement/.idea/indexLayout.xml
/.idea/.idea.EventManagement/.idea/projectSettingsUpdater.xml
/.idea/.idea.EventManagement/.idea/workspace.xml
/.vs/EventManagement/DesignTimeBuild/.dtbcache.v2
/.vs/EventManagement/FileContentIndex/04abc7aa-48a5-4326-abfe-3c706b79768c.vsidx
/.vs/EventManagement/FileContentIndex/45b3d6bd-8622-4d5f-8b46-e1e255fc077e.vsidx
/.vs/EventManagement/FileContentIndex/93025aaa-e5a9-4864-95ba-6dd01461d590.vsidx
/.vs/EventManagement/FileContentIndex/f1014214-a659-4582-81e3-d7b96db0be85.vsidx
/.vs/EventManagement/v17/.futdcache.v2
/.vs/EventManagement/v17/.suo
/.vs/ProjectEvaluation/eventmanagement.metadata.v7.bin
/.vs/ProjectEvaluation/eventmanagement.projects.v7.bin
/EventManagement.Domain/bin/Debug/net8.0/EventManagement.Domain.deps.json
/EventManagement.Domain/bin/Debug/net8.0/EventManagement.Domain.dll
/EventManagement.Domain/bin/Debug/net8.0/EventManagement.Domain.pdb
/EventManagement.Domain/obj/Debug/net8.0/ref/EventManagement.Domain.dll
/EventManagement.Domain/obj/Debug/net8.0/refint/EventManagement.Domain.dll
/EventManagement.Domain/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/EventManagement.Domain/obj/Debug/net8.0/EventManagement.Domain.AssemblyInfo.cs
/EventManagement.Domain/obj/Debug/net8.0/EventManagement.Domain.AssemblyInfoInputs.cache
/EventManagement.Domain/obj/Debug/net8.0/EventManagement.Domain.assets.cache
/EventManagement.Domain/obj/Debug/net8.0/EventManagement.Domain.csproj.CoreCompileInputs.cache
/EventManagement.Domain/obj/Debug/net8.0/EventManagement.Domain.csproj.FileListAbsolute.txt
/EventManagement.Domain/obj/Debug/net8.0/EventManagement.Domain.dll
/EventManagement.Domain/obj/Debug/net8.0/EventManagement.Domain.GeneratedMSBuildEditorConfig.editorconfig
/EventManagement.Domain/obj/Debug/net8.0/EventManagement.Domain.GlobalUsings.g.cs
/EventManagement.Domain/obj/Debug/net8.0/EventManagement.Domain.pdb
/EventManagement.Domain/obj/EventManagement.Domain.csproj.nuget.dgspec.json
/EventManagement.Domain/obj/EventManagement.Domain.csproj.nuget.g.props
/EventManagement.Domain/obj/EventManagement.Domain.csproj.nuget.g.targets
/EventManagement.Domain/obj/project.assets.json
/EventManagement.Domain/obj/project.nuget.cache
/EventManagement.Domain/obj/project.packagespec.json
/EventManagement.Domain/obj/rider.project.model.nuget.info
/EventManagement.Domain/obj/rider.project.restore.info
/EventManagement.Infrastructure/bin/Debug/net8.0/EventManagement.Domain.dll
/EventManagement.Infrastructure/bin/Debug/net8.0/EventManagement.Domain.pdb
/EventManagement.Infrastructure/bin/Debug/net8.0/EventManagement.Infrastructure.deps.json
/EventManagement.Infrastructure/bin/Debug/net8.0/EventManagement.Infrastructure.dll
/EventManagement.Infrastructure/bin/Debug/net8.0/EventManagement.Infrastructure.pdb
/EventManagement.Infrastructure/bin/Debug/net8.0/EventManagement.Infrastructure.runtimeconfig.json
/EventManagement.Infrastructure/bin/Debug/net8.0/EventManagement.Shared.dll
/EventManagement.Infrastructure/bin/Debug/net8.0/EventManagement.Shared.pdb
/EventManagement.Infrastructure/obj/Debug/net8.0/ref/EventManagement.Infrastructure.dll
/EventManagement.Infrastructure/obj/Debug/net8.0/refint/EventManagement.Infrastructure.dll
/EventManagement.Infrastructure/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/EventManagement.Infrastructure/obj/Debug/net8.0/EventManagement.Infrastructure.AssemblyInfo.cs
/EventManagement.Infrastructure/obj/Debug/net8.0/EventManagement.Infrastructure.AssemblyInfoInputs.cache
/EventManagement.Infrastructure/obj/Debug/net8.0/EventManagement.Infrastructure.assets.cache
/EventManagement.Infrastructure/obj/Debug/net8.0/EventManagement.Infrastructure.csproj.AssemblyReference.cache
/EventManagement.Infrastructure/obj/Debug/net8.0/EventManagement.Infrastructure.csproj.CopyComplete
/EventManagement.Infrastructure/obj/Debug/net8.0/EventManagement.Infrastructure.csproj.CoreCompileInputs.cache
/EventManagement.Infrastructure/obj/Debug/net8.0/EventManagement.Infrastructure.csproj.FileListAbsolute.txt
/EventManagement.Infrastructure/obj/Debug/net8.0/EventManagement.Infrastructure.dll
/EventManagement.Infrastructure/obj/Debug/net8.0/EventManagement.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
/EventManagement.Infrastructure/obj/Debug/net8.0/EventManagement.Infrastructure.genruntimeconfig.cache
/EventManagement.Infrastructure/obj/Debug/net8.0/EventManagement.Infrastructure.GlobalUsings.g.cs
/EventManagement.Infrastructure/obj/Debug/net8.0/EventManagement.Infrastructure.pdb
/EventManagement.Infrastructure/obj/EventManagement.Infrastructure.csproj.nuget.dgspec.json
/EventManagement.Infrastructure/obj/EventManagement.Infrastructure.csproj.nuget.g.props
/EventManagement.Infrastructure/obj/EventManagement.Infrastructure.csproj.nuget.g.targets
/EventManagement.Infrastructure/obj/project.assets.json
/EventManagement.Infrastructure/obj/project.nuget.cache
/EventManagement.Infrastructure/obj/project.packagespec.json
/EventManagement.Infrastructure/obj/rider.project.model.nuget.info
/EventManagement.Infrastructure/obj/rider.project.restore.info
/EventManagement.Infrastructure.Persistence/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/EventManagement.Infrastructure.Persistence/obj/Debug/net8.0/EventManagement.Infrastructure.Persistence.AssemblyInfo.cs
/EventManagement.Infrastructure.Persistence/obj/Debug/net8.0/EventManagement.Infrastructure.Persistence.AssemblyInfoInputs.cache
/EventManagement.Infrastructure.Persistence/obj/Debug/net8.0/EventManagement.Infrastructure.Persistence.assets.cache
/EventManagement.Infrastructure.Persistence/obj/Debug/net8.0/EventManagement.Infrastructure.Persistence.csproj.AssemblyReference.cache
/EventManagement.Infrastructure.Persistence/obj/Debug/net8.0/EventManagement.Infrastructure.Persistence.GeneratedMSBuildEditorConfig.editorconfig
/EventManagement.Infrastructure.Persistence/obj/Debug/net8.0/EventManagement.Infrastructure.Persistence.GlobalUsings.g.cs
/EventManagement.Infrastructure.Persistence/obj/EventManagement.Infrastructure.Persistence.csproj.nuget.dgspec.json
/EventManagement.Infrastructure.Persistence/obj/EventManagement.Infrastructure.Persistence.csproj.nuget.g.props
/EventManagement.Infrastructure.Persistence/obj/EventManagement.Infrastructure.Persistence.csproj.nuget.g.targets
/EventManagement.Infrastructure.Persistence/obj/project.assets.json
/EventManagement.Infrastructure.Persistence/obj/project.nuget.cache
/EventManagement.Infrastructure.Persistence/obj/project.packagespec.json
/EventManagement.Infrastructure.Persistence/obj/rider.project.model.nuget.info
/EventManagement.Infrastructure.Persistence/obj/rider.project.restore.info
/EventManagement.Shared/bin/Debug/net7.0/EventManagement.Shared.deps.json
/EventManagement.Shared/bin/Debug/net7.0/EventManagement.Shared.dll
/EventManagement.Shared/bin/Debug/net7.0/EventManagement.Shared.pdb
/EventManagement.Shared/obj/Debug/net7.0/ref/EventManagement.Shared.dll
/EventManagement.Shared/obj/Debug/net7.0/refint/EventManagement.Shared.dll
/EventManagement.Shared/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/EventManagement.Shared/obj/Debug/net7.0/EventManagement.Shared.AssemblyInfo.cs
/EventManagement.Shared/obj/Debug/net7.0/EventManagement.Shared.AssemblyInfoInputs.cache
/EventManagement.Shared/obj/Debug/net7.0/EventManagement.Shared.assets.cache
/EventManagement.Shared/obj/Debug/net7.0/EventManagement.Shared.csproj.CoreCompileInputs.cache
/EventManagement.Shared/obj/Debug/net7.0/EventManagement.Shared.csproj.FileListAbsolute.txt
/EventManagement.Shared/obj/Debug/net7.0/EventManagement.Shared.dll
/EventManagement.Shared/obj/Debug/net7.0/EventManagement.Shared.GeneratedMSBuildEditorConfig.editorconfig
/EventManagement.Shared/obj/Debug/net7.0/EventManagement.Shared.GlobalUsings.g.cs
/EventManagement.Shared/obj/Debug/net7.0/EventManagement.Shared.pdb
/EventManagement.Shared/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/EventManagement.Shared/obj/Debug/net8.0/EventManagement.Shared.AssemblyInfo.cs
/EventManagement.Shared/obj/Debug/net8.0/EventManagement.Shared.AssemblyInfoInputs.cache
/EventManagement.Shared/obj/Debug/net8.0/EventManagement.Shared.assets.cache
/EventManagement.Shared/obj/Debug/net8.0/EventManagement.Shared.GeneratedMSBuildEditorConfig.editorconfig
/EventManagement.Shared/obj/Debug/net8.0/EventManagement.Shared.GlobalUsings.g.cs
/EventManagement.Shared/obj/EventManagement.Shared.csproj.nuget.dgspec.json
/EventManagement.Shared/obj/EventManagement.Shared.csproj.nuget.g.props
/EventManagement.Shared/obj/EventManagement.Shared.csproj.nuget.g.targets
/EventManagement.Shared/obj/project.assets.json
/EventManagement.Shared/obj/project.nuget.cache
/EventManagement.Shared/obj/project.packagespec.json
/EventManagement.Shared/obj/rider.project.model.nuget.info
/EventManagement.Shared/obj/rider.project.restore.info
/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/obj/Debug/net8.0/EventManagement.AssemblyInfo.cs
/obj/Debug/net8.0/EventManagement.AssemblyInfoInputs.cache
/obj/Debug/net8.0/EventManagement.assets.cache
/obj/Debug/net8.0/EventManagement.csproj.AssemblyReference.cache
/obj/Debug/net8.0/EventManagement.csproj.CoreCompileInputs.cache
/obj/Debug/net8.0/EventManagement.csproj.FileListAbsolute.txt
/obj/Debug/net8.0/EventManagement.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net8.0/EventManagement.GlobalUsings.g.cs
/obj/Debug/net8.0/EventManagement.MvcApplicationPartsAssemblyInfo.cache
/obj/Debug/net8.0/EventManagement.MvcApplicationPartsAssemblyInfo.cs
/obj/EventManagement.csproj.nuget.dgspec.json
/obj/EventManagement.csproj.nuget.g.props
/obj/EventManagement.csproj.nuget.g.targets
/obj/project.assets.json
/obj/project.nuget.cache
/obj/project.packagespec.json
/obj/rider.project.model.nuget.info
/obj/rider.project.restore.info
