/EventManagement.Application/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/EventManagement.Application/obj/Debug/net8.0/EventManagement.Application.AssemblyInfo.cs
/EventManagement.Application/obj/Debug/net8.0/EventManagement.Application.AssemblyInfoInputs.cache
/EventManagement.Application/obj/Debug/net8.0/EventManagement.Application.assets.cache
/EventManagement.Application/obj/Debug/net8.0/EventManagement.Application.csproj.AssemblyReference.cache
/EventManagement.Application/obj/Debug/net8.0/EventManagement.Application.GeneratedMSBuildEditorConfig.editorconfig
/EventManagement.Application/obj/Debug/net8.0/EventManagement.Application.GlobalUsings.g.cs
/EventManagement.Application/obj/EventManagement.Application.csproj.nuget.dgspec.json
/EventManagement.Application/obj/EventManagement.Application.csproj.nuget.g.props
/EventManagement.Application/obj/EventManagement.Application.csproj.nuget.g.targets
/EventManagement.Application/obj/project.assets.json
/EventManagement.Application/obj/project.nuget.cache
/EventManagement.Application/obj/project.packagespec.json
/EventManagement.Application/obj/rider.project.model.nuget.info
/EventManagement.Application/obj/rider.project.restore.info
/.idea/.idea.EventManagement/.idea/httpRequests/http-client.cookies
/.idea/.idea.EventManagement/.idea/httpRequests/http-requests-log.http
/.idea/.idea.EventManagement/.idea/encodings.xml
/.idea/.idea.EventManagement/.idea/indexLayout.xml
/.idea/.idea.EventManagement/.idea/projectSettingsUpdater.xml
/.idea/.idea.EventManagement/.idea/workspace.xml
/.vs/EventManagement/DesignTimeBuild/.dtbcache.v2
/.vs/EventManagement/FileContentIndex/04abc7aa-48a5-4326-abfe-3c706b79768c.vsidx
/.vs/EventManagement/FileContentIndex/45b3d6bd-8622-4d5f-8b46-e1e255fc077e.vsidx
/.vs/EventManagement/FileContentIndex/93025aaa-e5a9-4864-95ba-6dd01461d590.vsidx
/.vs/EventManagement/FileContentIndex/f1014214-a659-4582-81e3-d7b96db0be85.vsidx
/.vs/EventManagement/v17/.futdcache.v2
/.vs/EventManagement/v17/.suo
/.vs/ProjectEvaluation/eventmanagement.metadata.v7.bin
/.vs/ProjectEvaluation/eventmanagement.projects.v7.bin
/EventManagement.Domain/bin/Debug/net8.0/EventManagement.Domain.deps.json
/EventManagement.Domain/bin/Debug/net8.0/EventManagement.Domain.dll
/EventManagement.Domain/bin/Debug/net8.0/EventManagement.Domain.pdb
/EventManagement.Domain/obj/Debug/net8.0/ref/EventManagement.Domain.dll
/EventManagement.Domain/obj/Debug/net8.0/refint/EventManagement.Domain.dll
/EventManagement.Domain/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/EventManagement.Domain/obj/Debug/net8.0/EventManagement.Domain.AssemblyInfo.cs
/EventManagement.Domain/obj/Debug/net8.0/EventManagement.Domain.AssemblyInfoInputs.cache
/EventManagement.Domain/obj/Debug/net8.0/EventManagement.Domain.assets.cache
/EventManagement.Domain/obj/Debug/net8.0/EventManagement.Domain.csproj.CoreCompileInputs.cache
/EventManagement.Domain/obj/Debug/net8.0/EventManagement.Domain.csproj.FileListAbsolute.txt
/EventManagement.Domain/obj/Debug/net8.0/EventManagement.Domain.dll
/EventManagement.Domain/obj/Debug/net8.0/EventManagement.Domain.GeneratedMSBuildEditorConfig.editorconfig
/EventManagement.Domain/obj/Debug/net8.0/EventManagement.Domain.GlobalUsings.g.cs
/EventManagement.Domain/obj/Debug/net8.0/EventManagement.Domain.pdb
/EventManagement.Domain/obj/EventManagement.Domain.csproj.nuget.dgspec.json
/EventManagement.Domain/obj/EventManagement.Domain.csproj.nuget.g.props
/EventManagement.Domain/obj/EventManagement.Domain.csproj.nuget.g.targets
/EventManagement.Domain/obj/project.assets.json
/EventManagement.Domain/obj/project.nuget.cache
/EventManagement.Domain/obj/project.packagespec.json
/EventManagement.Domain/obj/rider.project.model.nuget.info
/EventManagement.Domain/obj/rider.project.restore.info
/EventManagement.Infrastructure/bin/Debug/net8.0/EventManagement.Domain.dll
/EventManagement.Infrastructure/bin/Debug/net8.0/EventManagement.Domain.pdb
/EventManagement.Infrastructure/bin/Debug/net8.0/EventManagement.Infrastructure.deps.json
/EventManagement.Infrastructure/bin/Debug/net8.0/EventManagement.Infrastructure.dll
/EventManagement.Infrastructure/bin/Debug/net8.0/EventManagement.Infrastructure.pdb
/EventManagement.Infrastructure/bin/Debug/net8.0/EventManagement.Infrastructure.runtimeconfig.json
/EventManagement.Infrastructure/bin/Debug/net8.0/EventManagement.Shared.dll
/EventManagement.Infrastructure/bin/Debug/net8.0/EventManagement.Shared.pdb
/EventManagement.Infrastructure/obj/Debug/net8.0/ref/EventManagement.Infrastructure.dll
/EventManagement.Infrastructure/obj/Debug/net8.0/refint/EventManagement.Infrastructure.dll
/EventManagement.Infrastructure/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/EventManagement.Infrastructure/obj/Debug/net8.0/EventManagement.Infrastructure.AssemblyInfo.cs
/EventManagement.Infrastructure/obj/Debug/net8.0/EventManagement.Infrastructure.AssemblyInfoInputs.cache
/EventManagement.Infrastructure/obj/Debug/net8.0/EventManagement.Infrastructure.assets.cache
/EventManagement.Infrastructure/obj/Debug/net8.0/EventManagement.Infrastructure.csproj.AssemblyReference.cache
/EventManagement.Infrastructure/obj/Debug/net8.0/EventManagement.Infrastructure.csproj.CopyComplete
/EventManagement.Infrastructure/obj/Debug/net8.0/EventManagement.Infrastructure.csproj.CoreCompileInputs.cache
/EventManagement.Infrastructure/obj/Debug/net8.0/EventManagement.Infrastructure.csproj.FileListAbsolute.txt
/EventManagement.Infrastructure/obj/Debug/net8.0/EventManagement.Infrastructure.dll
/EventManagement.Infrastructure/obj/Debug/net8.0/EventManagement.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
/EventManagement.Infrastructure/obj/Debug/net8.0/EventManagement.Infrastructure.genruntimeconfig.cache
/EventManagement.Infrastructure/obj/Debug/net8.0/EventManagement.Infrastructure.GlobalUsings.g.cs
/EventManagement.Infrastructure/obj/Debug/net8.0/EventManagement.Infrastructure.pdb
/EventManagement.Infrastructure/obj/EventManagement.Infrastructure.csproj.nuget.dgspec.json
/EventManagement.Infrastructure/obj/EventManagement.Infrastructure.csproj.nuget.g.props
/EventManagement.Infrastructure/obj/EventManagement.Infrastructure.csproj.nuget.g.targets
/EventManagement.Infrastructure/obj/project.assets.json
/EventManagement.Infrastructure/obj/project.nuget.cache
/EventManagement.Infrastructure/obj/project.packagespec.json
/EventManagement.Infrastructure/obj/rider.project.model.nuget.info
/EventManagement.Infrastructure/obj/rider.project.restore.info
/EventManagement.Infrastructure.Persistence/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/EventManagement.Infrastructure.Persistence/obj/Debug/net8.0/EventManagement.Infrastructure.Persistence.AssemblyInfo.cs
/EventManagement.Infrastructure.Persistence/obj/Debug/net8.0/EventManagement.Infrastructure.Persistence.AssemblyInfoInputs.cache
/EventManagement.Infrastructure.Persistence/obj/Debug/net8.0/EventManagement.Infrastructure.Persistence.assets.cache
/EventManagement.Infrastructure.Persistence/obj/Debug/net8.0/EventManagement.Infrastructure.Persistence.csproj.AssemblyReference.cache
/EventManagement.Infrastructure.Persistence/obj/Debug/net8.0/EventManagement.Infrastructure.Persistence.GeneratedMSBuildEditorConfig.editorconfig
/EventManagement.Infrastructure.Persistence/obj/Debug/net8.0/EventManagement.Infrastructure.Persistence.GlobalUsings.g.cs
/EventManagement.Infrastructure.Persistence/obj/EventManagement.Infrastructure.Persistence.csproj.nuget.dgspec.json
/EventManagement.Infrastructure.Persistence/obj/EventManagement.Infrastructure.Persistence.csproj.nuget.g.props
/EventManagement.Infrastructure.Persistence/obj/EventManagement.Infrastructure.Persistence.csproj.nuget.g.targets
/EventManagement.Infrastructure.Persistence/obj/project.assets.json
/EventManagement.Infrastructure.Persistence/obj/project.nuget.cache
/EventManagement.Infrastructure.Persistence/obj/project.packagespec.json
/EventManagement.Infrastructure.Persistence/obj/rider.project.model.nuget.info
/EventManagement.Infrastructure.Persistence/obj/rider.project.restore.info
/EventManagement.Shared/bin/Debug/net7.0/EventManagement.Shared.deps.json
/EventManagement.Shared/bin/Debug/net7.0/EventManagement.Shared.dll
/EventManagement.Shared/bin/Debug/net7.0/EventManagement.Shared.pdb
/EventManagement.Shared/obj/Debug/net7.0/ref/EventManagement.Shared.dll
/EventManagement.Shared/obj/Debug/net7.0/refint/EventManagement.Shared.dll
/EventManagement.Shared/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/EventManagement.Shared/obj/Debug/net7.0/EventManagement.Shared.AssemblyInfo.cs
/EventManagement.Shared/obj/Debug/net7.0/EventManagement.Shared.AssemblyInfoInputs.cache
/EventManagement.Shared/obj/Debug/net7.0/EventManagement.Shared.assets.cache
/EventManagement.Shared/obj/Debug/net7.0/EventManagement.Shared.csproj.CoreCompileInputs.cache
/EventManagement.Shared/obj/Debug/net7.0/EventManagement.Shared.csproj.FileListAbsolute.txt
/EventManagement.Shared/obj/Debug/net7.0/EventManagement.Shared.dll
/EventManagement.Shared/obj/Debug/net7.0/EventManagement.Shared.GeneratedMSBuildEditorConfig.editorconfig
/EventManagement.Shared/obj/Debug/net7.0/EventManagement.Shared.GlobalUsings.g.cs
/EventManagement.Shared/obj/Debug/net7.0/EventManagement.Shared.pdb
/EventManagement.Shared/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/EventManagement.Shared/obj/Debug/net8.0/EventManagement.Shared.AssemblyInfo.cs
/EventManagement.Shared/obj/Debug/net8.0/EventManagement.Shared.AssemblyInfoInputs.cache
/EventManagement.Shared/obj/Debug/net8.0/EventManagement.Shared.assets.cache
/EventManagement.Shared/obj/Debug/net8.0/EventManagement.Shared.GeneratedMSBuildEditorConfig.editorconfig
/EventManagement.Shared/obj/Debug/net8.0/EventManagement.Shared.GlobalUsings.g.cs
/EventManagement.Shared/obj/EventManagement.Shared.csproj.nuget.dgspec.json
/EventManagement.Shared/obj/EventManagement.Shared.csproj.nuget.g.props
/EventManagement.Shared/obj/EventManagement.Shared.csproj.nuget.g.targets
/EventManagement.Shared/obj/project.assets.json
/EventManagement.Shared/obj/project.nuget.cache
/EventManagement.Shared/obj/project.packagespec.json
/EventManagement.Shared/obj/rider.project.model.nuget.info
/EventManagement.Shared/obj/rider.project.restore.info
/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/obj/Debug/net8.0/EventManagement.AssemblyInfo.cs
/obj/Debug/net8.0/EventManagement.AssemblyInfoInputs.cache
/obj/Debug/net8.0/EventManagement.assets.cache
/obj/Debug/net8.0/EventManagement.csproj.AssemblyReference.cache
/obj/Debug/net8.0/EventManagement.csproj.CoreCompileInputs.cache
/obj/Debug/net8.0/EventManagement.csproj.FileListAbsolute.txt
/obj/Debug/net8.0/EventManagement.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net8.0/EventManagement.GlobalUsings.g.cs
/obj/Debug/net8.0/EventManagement.MvcApplicationPartsAssemblyInfo.cache
/obj/Debug/net8.0/EventManagement.MvcApplicationPartsAssemblyInfo.cs
/obj/EventManagement.csproj.nuget.dgspec.json
/obj/EventManagement.csproj.nuget.g.props
/obj/EventManagement.csproj.nuget.g.targets
/obj/project.assets.json
/obj/project.nuget.cache
/obj/project.packagespec.json
/obj/rider.project.model.nuget.info
/obj/rider.project.restore.info
/.idea/
/.vs/EventManagement/FileContentIndex/3a350c29-9ca4-4eee-8a69-331ab7594bd3.vsidx
/.vs/EventManagement/FileContentIndex/6766d6af-f18b-4fb7-b84a-74b3491bb892.vsidx
/.vs/EventManagement/FileContentIndex/b1566425-34fa-427a-8f7c-193103fc2de3.vsidx
/.vs/EventManagement/FileContentIndex/e87e6c87-6aa1-4bcc-b147-5c4add91be89.vsidx
/.vs/EventManagement/FileContentIndex/eebf2549-2add-4fb5-8bb9-41fe8dcf2edd.vsidx
/API/obj/Debug/net8.0/API.assets.cache
/API/obj/Debug/net8.0/API.csproj.AssemblyReference.cache
/API/obj/Debug/net8.0/API.GeneratedMSBuildEditorConfig.editorconfig
/API/obj/Debug/net8.0/API.GlobalUsings.g.cs
/API/obj/API.csproj.nuget.dgspec.json
/API/obj/API.csproj.nuget.g.props
/API/obj/API.csproj.nuget.g.targets
/API/obj/project.assets.json
/API/obj/project.nuget.cache
/API/obj/project.packagespec.json
/API/obj/rider.project.restore.info
/Application/bin/Debug/net8.0/Application.deps.json
/Application/bin/Debug/net8.0/Application.dll
/Application/bin/Debug/net8.0/Application.pdb
/Application/bin/Debug/net8.0/Domain.dll
/Application/bin/Debug/net8.0/Domain.pdb
/Application/bin/Debug/net8.0/Infrastructure.dll
/Application/bin/Debug/net8.0/Infrastructure.pdb
/Application/bin/Debug/net8.0/Shared.dll
/Application/bin/Debug/net8.0/Shared.pdb
/Application/obj/Debug/net8.0/ref/Application.dll
/Application/obj/Debug/net8.0/refint/Application.dll
/Application/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/Application/obj/Debug/net8.0/Application.assets.cache
/Application/obj/Debug/net8.0/Application.csproj.AssemblyReference.cache
/Application/obj/Debug/net8.0/Application.csproj.CopyComplete
/Application/obj/Debug/net8.0/Application.csproj.CoreCompileInputs.cache
/Application/obj/Debug/net8.0/Application.csproj.FileListAbsolute.txt
/Application/obj/Debug/net8.0/Application.dll
/Application/obj/Debug/net8.0/Application.GeneratedMSBuildEditorConfig.editorconfig
/Application/obj/Debug/net8.0/Application.GlobalUsings.g.cs
/Application/obj/Debug/net8.0/Application.pdb
/Application/obj/Debug/net8.0/Application.sourcelink.json
/Application/obj/Application.csproj.nuget.dgspec.json
/Application/obj/Application.csproj.nuget.g.props
/Application/obj/Application.csproj.nuget.g.targets
/Application/obj/project.assets.json
/Application/obj/project.nuget.cache
/Application/obj/project.packagespec.json
/Application/obj/rider.project.restore.info
/bin/Debug/net8.0/API/obj/API.csproj.nuget.dgspec.json
/bin/Debug/net8.0/API/obj/project.assets.json
/bin/Debug/net8.0/API/obj/project.packagespec.json
/bin/Debug/net8.0/Application/bin/Debug/net8.0/Application.deps.json
/bin/Debug/net8.0/Application/obj/Debug/net8.0/Application.sourcelink.json
/bin/Debug/net8.0/Application/obj/Application.csproj.nuget.dgspec.json
/bin/Debug/net8.0/Application/obj/project.assets.json
/bin/Debug/net8.0/Application/obj/project.packagespec.json
/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.resources.dll
/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.CSharp.resources.dll
/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.resources.dll
/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
/bin/Debug/net8.0/Domain/bin/Debug/net8.0/Domain.deps.json
/bin/Debug/net8.0/Domain/obj/Debug/net8.0/Domain.sourcelink.json
/bin/Debug/net8.0/Domain/obj/Domain.csproj.nuget.dgspec.json
/bin/Debug/net8.0/Domain/obj/project.assets.json
/bin/Debug/net8.0/Domain/obj/project.packagespec.json
/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.CSharp.resources.dll
/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.resources.dll
/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.resources.dll
/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
/bin/Debug/net8.0/Infrastructure/bin/Debug/net8.0/Infrastructure.deps.json
/bin/Debug/net8.0/Infrastructure/bin/Debug/net8.0/Infrastructure.runtimeconfig.json
/bin/Debug/net8.0/Infrastructure/obj/Debug/net8.0/Infrastructure.sourcelink.json
/bin/Debug/net8.0/Infrastructure/obj/Infrastructure.csproj.nuget.dgspec.json
/bin/Debug/net8.0/Infrastructure/obj/project.assets.json
/bin/Debug/net8.0/Infrastructure/obj/project.packagespec.json
/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.CSharp.resources.dll
/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.resources.dll
/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.resources.dll
/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.resources.dll
/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.resources.dll
/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.resources.dll
/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.resources.dll
/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
/bin/Debug/net8.0/runtimes/browser/lib/net8.0/System.Text.Encodings.Web.dll
/bin/Debug/net8.0/Shared/bin/Debug/net8.0/Shared.deps.json
/bin/Debug/net8.0/Shared/obj/Debug/net8.0/Shared.sourcelink.json
/bin/Debug/net8.0/Shared/obj/project.assets.json
/bin/Debug/net8.0/Shared/obj/project.packagespec.json
/bin/Debug/net8.0/Shared/obj/Shared.csproj.nuget.dgspec.json
/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.resources.dll
/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.resources.dll
/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.resources.dll
/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
/bin/Debug/net8.0/Application.dll
/bin/Debug/net8.0/Application.pdb
/bin/Debug/net8.0/appsettings.Development.json
/bin/Debug/net8.0/appsettings.json
/bin/Debug/net8.0/Domain.dll
/bin/Debug/net8.0/Domain.pdb
/bin/Debug/net8.0/EventManagement.deps.json
/bin/Debug/net8.0/EventManagement.dll
/bin/Debug/net8.0/EventManagement.exe
/bin/Debug/net8.0/EventManagement.pdb
/bin/Debug/net8.0/EventManagement.runtimeconfig.json
/bin/Debug/net8.0/FluentValidation.AspNetCore.dll
/bin/Debug/net8.0/FluentValidation.DependencyInjectionExtensions.dll
/bin/Debug/net8.0/FluentValidation.dll
/bin/Debug/net8.0/Humanizer.dll
/bin/Debug/net8.0/Infrastructure.dll
/bin/Debug/net8.0/Infrastructure.pdb
/bin/Debug/net8.0/Mapster.Core.dll
/bin/Debug/net8.0/Mapster.dll
/bin/Debug/net8.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll
/bin/Debug/net8.0/Microsoft.AspNetCore.OpenApi.dll
/bin/Debug/net8.0/Microsoft.Bcl.AsyncInterfaces.dll
/bin/Debug/net8.0/Microsoft.CodeAnalysis.CSharp.dll
/bin/Debug/net8.0/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
/bin/Debug/net8.0/Microsoft.CodeAnalysis.dll
/bin/Debug/net8.0/Microsoft.CodeAnalysis.Workspaces.dll
/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Abstractions.dll
/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Design.dll
/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.dll
/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Relational.dll
/bin/Debug/net8.0/Microsoft.Extensions.Caching.Abstractions.dll
/bin/Debug/net8.0/Microsoft.Extensions.Caching.Memory.dll
/bin/Debug/net8.0/Microsoft.Extensions.Configuration.Abstractions.dll
/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.dll
/bin/Debug/net8.0/Microsoft.Extensions.DependencyModel.dll
/bin/Debug/net8.0/Microsoft.Extensions.Logging.Abstractions.dll
/bin/Debug/net8.0/Microsoft.Extensions.Logging.dll
/bin/Debug/net8.0/Microsoft.Extensions.Options.dll
/bin/Debug/net8.0/Microsoft.Extensions.Primitives.dll
/bin/Debug/net8.0/Microsoft.IdentityModel.Abstractions.dll
/bin/Debug/net8.0/Microsoft.IdentityModel.JsonWebTokens.dll
/bin/Debug/net8.0/Microsoft.IdentityModel.Logging.dll
/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.dll
/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/bin/Debug/net8.0/Microsoft.IdentityModel.Tokens.dll
/bin/Debug/net8.0/Microsoft.OpenApi.dll
/bin/Debug/net8.0/Mono.TextTemplating.dll
/bin/Debug/net8.0/Npgsql.dll
/bin/Debug/net8.0/Npgsql.EntityFrameworkCore.PostgreSQL.dll
/bin/Debug/net8.0/Shared.dll
/bin/Debug/net8.0/Shared.pdb
/bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/bin/Debug/net8.0/System.CodeDom.dll
/bin/Debug/net8.0/System.Composition.AttributedModel.dll
/bin/Debug/net8.0/System.Composition.Convention.dll
/bin/Debug/net8.0/System.Composition.Hosting.dll
/bin/Debug/net8.0/System.Composition.Runtime.dll
/bin/Debug/net8.0/System.Composition.TypedParts.dll
/bin/Debug/net8.0/System.IdentityModel.Tokens.Jwt.dll
/bin/Debug/net8.0/System.Text.Encodings.Web.dll
/bin/Debug/net8.0/System.Text.Json.dll
/Client/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/Client/obj/Debug/net8.0/Client.assets.cache
/Client/obj/Debug/net8.0/Client.GeneratedMSBuildEditorConfig.editorconfig
/Client/obj/Debug/net8.0/Client.GlobalUsings.g.cs
/Client/obj/Client.csproj.nuget.dgspec.json
/Client/obj/Client.csproj.nuget.g.props
/Client/obj/Client.csproj.nuget.g.targets
/Client/obj/project.assets.json
/Client/obj/project.nuget.cache
/Client/obj/project.packagespec.json
/Client/obj/rider.project.restore.info
/Domain/bin/Debug/net8.0/Domain.deps.json
/Domain/bin/Debug/net8.0/Domain.dll
/Domain/bin/Debug/net8.0/Domain.pdb
/Domain/obj/Debug/net8.0/ref/Domain.dll
/Domain/obj/Debug/net8.0/refint/Domain.dll
/Domain/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/Domain/obj/Debug/net8.0/Domain.assets.cache
/Domain/obj/Debug/net8.0/Domain.csproj.CoreCompileInputs.cache
/Domain/obj/Debug/net8.0/Domain.csproj.FileListAbsolute.txt
/Domain/obj/Debug/net8.0/Domain.dll
/Domain/obj/Debug/net8.0/Domain.GeneratedMSBuildEditorConfig.editorconfig
/Domain/obj/Debug/net8.0/Domain.GlobalUsings.g.cs
/Domain/obj/Debug/net8.0/Domain.pdb
/Domain/obj/Debug/net8.0/Domain.sourcelink.json
/Domain/obj/Domain.csproj.nuget.dgspec.json
/Domain/obj/Domain.csproj.nuget.g.props
/Domain/obj/Domain.csproj.nuget.g.targets
/Domain/obj/project.assets.json
/Domain/obj/project.nuget.cache
/Domain/obj/project.packagespec.json
/Domain/obj/rider.project.restore.info
/Infrastructure/bin/Debug/net8.0/Domain.dll
/Infrastructure/bin/Debug/net8.0/Domain.pdb
/Infrastructure/bin/Debug/net8.0/Infrastructure.deps.json
/Infrastructure/bin/Debug/net8.0/Infrastructure.dll
/Infrastructure/bin/Debug/net8.0/Infrastructure.pdb
/Infrastructure/bin/Debug/net8.0/Infrastructure.runtimeconfig.json
/Infrastructure/bin/Debug/net8.0/Shared.dll
/Infrastructure/bin/Debug/net8.0/Shared.pdb
/Infrastructure/obj/Debug/net8.0/ref/Infrastructure.dll
/Infrastructure/obj/Debug/net8.0/refint/Infrastructure.dll
/Infrastructure/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/Infrastructure/obj/Debug/net8.0/Infrastructure.assets.cache
/Infrastructure/obj/Debug/net8.0/Infrastructure.csproj.AssemblyReference.cache
/Infrastructure/obj/Debug/net8.0/Infrastructure.csproj.CopyComplete
/Infrastructure/obj/Debug/net8.0/Infrastructure.csproj.CoreCompileInputs.cache
/Infrastructure/obj/Debug/net8.0/Infrastructure.csproj.FileListAbsolute.txt
/Infrastructure/obj/Debug/net8.0/Infrastructure.dll
/Infrastructure/obj/Debug/net8.0/Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
/Infrastructure/obj/Debug/net8.0/Infrastructure.genruntimeconfig.cache
/Infrastructure/obj/Debug/net8.0/Infrastructure.GlobalUsings.g.cs
/Infrastructure/obj/Debug/net8.0/Infrastructure.pdb
/Infrastructure/obj/Debug/net8.0/Infrastructure.sourcelink.json
/Infrastructure/obj/Infrastructure.csproj.nuget.dgspec.json
/Infrastructure/obj/Infrastructure.csproj.nuget.g.props
/Infrastructure/obj/Infrastructure.csproj.nuget.g.targets
/Infrastructure/obj/project.assets.json
/Infrastructure/obj/project.nuget.cache
/Infrastructure/obj/project.packagespec.json
/Infrastructure/obj/rider.project.restore.info
/obj/Debug/net8.0/ref/EventManagement.dll
/obj/Debug/net8.0/refint/EventManagement.dll
/obj/Debug/net8.0/staticwebassets/msbuild.build.EventManagement.props
/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.EventManagement.props
/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.EventManagement.props
/obj/Debug/net8.0/apphost.exe
/obj/Debug/net8.0/EventManagement.csproj.CopyComplete
/obj/Debug/net8.0/EventManagement.dll
/obj/Debug/net8.0/EventManagement.genruntimeconfig.cache
/obj/Debug/net8.0/EventManagement.pdb
/obj/Debug/net8.0/EventManagement.sourcelink.json
/obj/Debug/net8.0/staticwebassets.build.json
/Shared/bin/Debug/net8.0/Shared.deps.json
/Shared/bin/Debug/net8.0/Shared.dll
/Shared/bin/Debug/net8.0/Shared.pdb
/Shared/obj/Debug/net8.0/ref/Shared.dll
/Shared/obj/Debug/net8.0/refint/Shared.dll
/Shared/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/Shared/obj/Debug/net8.0/Shared.AssemblyInfo.cs
/Shared/obj/Debug/net8.0/Shared.AssemblyInfoInputs.cache
/Shared/obj/Debug/net8.0/Shared.assets.cache
/Shared/obj/Debug/net8.0/Shared.csproj.CoreCompileInputs.cache
/Shared/obj/Debug/net8.0/Shared.csproj.FileListAbsolute.txt
/Shared/obj/Debug/net8.0/Shared.dll
/Shared/obj/Debug/net8.0/Shared.GeneratedMSBuildEditorConfig.editorconfig
/Shared/obj/Debug/net8.0/Shared.GlobalUsings.g.cs
/Shared/obj/Debug/net8.0/Shared.pdb
/Shared/obj/Debug/net8.0/Shared.sourcelink.json
/Shared/obj/project.assets.json
/Shared/obj/project.nuget.cache
/Shared/obj/project.packagespec.json
/Shared/obj/rider.project.restore.info
/Shared/obj/Shared.csproj.nuget.dgspec.json
/Shared/obj/Shared.csproj.nuget.g.props
/Shared/obj/Shared.csproj.nuget.g.targets
/EventManagement.sln.DotSettings.user
**/bin/*
**/obj/*
DTO/obj/DTO.csproj.nuget.dgspec.json
DTO/obj/DTO.csproj.nuget.g.props
DTO/obj/DTO.csproj.nuget.g.targets
DTO/obj/project.assets.json
DTO/obj/project.nuget.cache
DTO/obj/Debug/net8.0/DTO.assets.cache
DTO/obj/Debug/net8.0/DTO.csproj.AssemblyReference.cache
DTO/obj/Debug/net8.0/DTO.GeneratedMSBuildEditorConfig.editorconfig
